/* GLOBAL STYLES
-------------------------------------------------- */

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-top: 150px;
}

html {
    /*Enable smooth scrolling for anchor tags - instead of having the page jumping*/
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 15px;
}

#side-nav {
    background-color: #212121;
    color: #fff;
    height: auto !important;
}

#side-nav-content-container {
    padding: 10px;
}

#side-nav a {
    width: 100%;
    display: block;
    font-size: 1.2em;
    padding: 5px;
}

#side-nav > .toggle-side-nav {
    padding: 5px;
}

#main-nav {
    width: 100%;
    height: 70px;
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
}

#full-size-menu {
    display: none;
}

.nav-collapse-bar {
    padding: 12px;
    background-color: #212121;
    border-radius: 6px;
    border: 2px transparent;
    margin: auto 15px auto auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Slider forside */

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    z-index: 1;
}

/* Skjul billeder som standard */
.mySlides {
    display: none;
}

.mySlides > img {
    width: 100%;
}

/* Frem og tilbage knapper */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Positionér "næste knappen" til højre */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* På hover, tilføj sort baggrundsfarve med lidt see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Teaser tekst */
.text {
    color: #fff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

/* Nummeret tekst (1/3 osv) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    text-shadow:2px 2px #000;
}

/* dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#slider-dots {
    text-align: center;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
/*.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 0.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}*/

.skriftpraktiskinfofaq {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.aabningstidertekstfaq {
    list-style: none;
    padding: 0;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
}

.icon-bar {
    display: block;
    width: 36px;
    height: 2px;
    border-radius: 1px;
    background-color: white;
}

.icon-bar + .icon-bar {
    margin-top: 6px;
}

#nav-logo {
    margin-left: 15px;
}

#brand-link {
    font-size: 1em;
    margin-left: 10px;
    text-transform: uppercase;
}

#subnav-container {
    display: flex;
    height: 80px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    margin-top: 70px;
    top: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 999;
}

.subnav-icon {
    position: relative;
    justify-content: space-between;
    background-color: #80bae2;
    border-radius: 50%;
    border: 2px solid;
    margin: auto;
    height: 65px;
    width: 65px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
}

.subnav-icon i {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.subnav-icon:hover, .subnav-icon:active, .subnav-icon:focus{
    color:#e4f0f9;
    border:transparent;

}

.toggle-side-nav {
    cursor: pointer;
}

.img-responsive{
    max-width: 100%;
    padding: 0 -15px;
}

.billede_boder{
    -webkit-filter:brightness(80%);
    transition: .5s ease;
    backface-visibility: hidden;
}

.billede_boder:hover, .billede_boder:active,.billede_boder:focus{
    -webkit-filter:brightness(100%);
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #80bae2;
}

.facebook {
    color: #3B5998;
}

.facebook:hover {
    color: #8b9dc3;
}

footer {
    background-color: #212121;
    display: flex;
    min-height: 140px;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer > div {
    justify-content: space-between;
    whitespace: wrap;
    padding: 15px;
    flex-direction: row;
    flex-shrink: 0;
}

footer h5 {
    margin-top: 0;
    font-size: 1.4rem;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content;
    margin-bottom:15px;
}

#footer-open-times-container ul {
    list-style: none;
    padding: 0;
    /*Force list to fit content instead of being same width as the parent*/
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content;
    margin: auto;
}

#footer-social-media-container {
    text-align: left;
}

#footer-social-media-container a {
    color: #fff;
    margin-right:10px;
}

#footer-social-media-container a.facebook-logo:hover {
    color: #9d9d9d;
}

#footer-social-media-container a.instagram-logo:hover {
    color: #9d9d9d;
}

.index-single-content-container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 3rem;
    width: 100%;
    margin:auto;
}

.overskrift_boder {
    text-align: center;
}

.container_boder {
    position: relative;
    text-align: center;
    color: white;
    font-size: 3rem;
}

.centered_boder {
    background-color: white;
    color: black;
    font-size: 8vw;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

.billede_boder {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.skriftpraktiskinfofaq {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.aabningstidertekstfaq {
    list-style: none;
    padding: 0;
}

#google-maps {
    min-height: 150px;
    display: block;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0;
    /*Hack to prevent map from displaying over the menu*/
    z-index: -1;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.menu-title{
    text-align:center;
}

.menu-table{
    width:100%;
    max-width:500px;
    border-collapse: collapse;
    margin:auto;
}


.menu-table tr:nth-child(odd) {background: #f6fafd}
.menu-table tr:nth-child(even) {background: #FFF}

.bod-main-img-container{
    position:relative;
    margin-top:-15px;
}

.bod-main-img-container img{
    max-height:154px;
    width:100%;
}

/*All media queries normally used - we've decided to focus on 3 sizes*/
/*@media (min-width:320px) { !* smartphones, portrait iPhone, portrait 480x320 phones (Android) *!}*/
/*@media (min-width:480px) { !* smartphones, Android phones, landscape iPhone *! }*/
@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .mySlides > .text, .numbertext, .prev, .next {
        font-size: 1.2em;
        display: block;
    }

    .text{
        bottom:60px;
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: -ms-fit-content;
        width: -o-fit-content;
        width: fit-content;
        left: 50%;
        transform: translate(-50%);
    }

    #slider-dots{
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .dot {
        height: 25px;
        width: 25px;
    }

    #footer-contact-container h5 {
        text-align: left;
        margin-left: 0;
    }

    #footer-contact-container p {
        margin:0;
    }

    footer #footer-open-times-container h5 {
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: -ms-fit-content;
        width: -o-fit-content;
        width: fit-content;
    }

    #footer-social-media-container {
        text-align: right;
    }

    #footer-social-media-container h5 {
        margin-right: 0;
        text-align: right;
    }

    .flex-container {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }

    .flex-container > .container_boder {
        flex: 1;
        min-width: 50%;
        padding: 10px;
    }

    .centered_boder {
        font-size: 3vw;
    }

}

/*@media (min-width:801px) { !* tablet, landscape iPad, lo-res laptops ands desktops *! }*/
@media (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */

    body {
        padding-top: 70px;
    }

    .mySlides > .text, .numbertext, .prev, .next {
        font-size: 1.4em;
    }

    .slideshow-container img {
        height: calc(100vh - 70px);
    }

    .text{
        bottom:70px;
        font-size:1.8em;
    }

    #slider-dots {
        text-align: center;
        position: absolute;
        bottom:0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .dot {
        height: 35px;
        width: 35px;
    }

    .container {
        max-width: 1170px;
        margin: auto;
    }

    .nav-collapse-bar, #subnav-container {
        display: none;
    }

    #full-size-menu {
        margin-left:auto;
        margin-right:15px;
        display: flex;
        justify-content: space-between;
    }

    #full-size-menu > a {
        padding: 25px;
    }

    #index-content-container {
        display: flex;
    }

    .index-single-content-container {
        width: 33%;
        padding: 5px;
    }

    #index-info-text-container{
    }

    #index-info-text-container h1{
        font-size:2.5em;
        text-align:center;
    }

    #index-info-text-container p{
        font-size:1.2em;
    }

    .flex-container > .container_boder {
        min-width: 33.3%;
        margin:auto;
    }

    .bod-container{
        width:100%;
        display:inline-flex;
    }

    .bod-info-container{
        width:50%;
    }

    .menu-table-container{
        width:50%;
    }

    /*.overskrift_boder{
        text-align:left;
    }*/

    .bod-main-img-container img{
        max-height:300px;
        width:100%;
        -webkit-filter: brightness(80%);
    }

        .bod-main-img-container img:hover, img:active, img:focus{
            -webkit-filter: brightness(100%);
        }

    .bod-main-img-container h1{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        /*color:#fff;*/
        /*text-shadow:2px 2px #000;*/
        font-size:4.5em;
        margin:0;
        background-color: white;
        color: black;
        /*font-size: 8vw;*/
        font-weight: bold;
        padding: 10px;
        width: 40%;
        mix-blend-mode: screen;
    }

    #praktisk-information-container{
        width:100%;
        display:inline-flex;
    }

    #praktisk-info-left-text-container{
        width:50%;
        padding:15px;
    }

    #praktisk-info-right-text-container{
        width:50%;
        padding:15px;
    }

    #google-maps{
        padding:15px;
    }

    .centered_boder {
        font-size: 2.2vw;
    }

    footer > div{
        margin: auto;
    }

    #footer-social-media-container{
        text-align:right;
    }
}

/*@media (min-width:1281px) { !* hi-res laptops and desktops *! }*/
